@page
@using SmartLife.Models
@model SmartLife.Pages.About.IndexModel

@{
    ViewData["Title"] = "About";
}

<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container">
        <h1>@Model.Localizer["about"]</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-page="/Index">@Model.Localizer["aboutHome"]</a></li>
                <li class="current">@Model.Localizer["about"]</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<!-- about Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="slide-left">
        <h2>@Model.Localizer["about"]</h2>
        <p>@Model.Localizer["paragraph"]</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4 mb-5" data-aos="slide-right" data-aos-delay="100">
            <div class="col-lg-5 text-center text-md-start img-about1">
                <img style="height: 300px; text-align: center; border-radius: 10px;" src="@Model.AboutData.VisionImage"
                    class="img-fluid" alt="">
            </div>
            <div class="col-lg-7 content">
                <h3>@Model.Localizer["vision"]</h3>
                <p class="fst-italic">
                    @(Model.IsAr? Model.AboutData.Vision1Ar : Model.AboutData.Vision1)
                </p>
                <p>
                    @(Model.IsAr? Model.AboutData.Vision2Ar : Model.AboutData.Vision2)
                </p>
            </div>
        </div>

        <div class="row gy-4" data-aos="slide-left" data-aos-delay="100">
            <div class="col-lg-7 content">
                <h3>@Model.Localizer["mission"]</h3>
                <p class="fst-italic">
                    @(Model.IsAr? Model.AboutData.Mission1Ar : Model.AboutData.Mission1)
                </p>
                <p>
                    @(Model.IsAr? Model.AboutData.Mission2Ar : Model.AboutData.Mission2)
                </p>
            </div>
            <div class="col-lg-5 text-center text-md-end img-about2">
                <img style="height: 250px; text-align: center; border-radius: 10px;" src="@Model.AboutData.MissionImage"
                    class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<section id="about" class="about section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="slide-right">
        <h2>@Model.Localizer["branch"]</h2>
        <p>
            @Model.Localizer["branchp"]
        </p>
        <div class="mt-5 row justify-content-around gap-5">
            @foreach(Contact contact in Model.Contacts)
            {
                <div class="col-lg-3">
                    <a asp-page="/Contacts/Index" asp-route-id="@contact.Country" class="w-100 h-100 d-flex justify-content-center align-items-center flex-column">
                        <span><i style="font-size: 40px;" class="geo-float bi bi-geo-alt-fill"></i></span>
                        <span style="font-size: 25px; font-weight: bold; color: black;">
                            @SmartLife.Utilities.LocationHelper.GetCountryNameBy2LetterISO(contact.Country)
                            <span class="fi fi-@contact.Country.ToLowerInvariant()"></span></span>
                        <span style="font-size: 12px; color: black;">@Model.Localizer["click"]</span>
                    </a>
                </div>
            }
        </div>
    </div><!-- End Section Title -->
</section>

<section id="about" class="pt-0 about section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="slide-left">
        <h2>@Model.Localizer["values"]</h2>
        <p>
            @(Model.IsAr? Model.AboutData.ValuesAr : Model.AboutData.Values)
        </p>
        <div class="mt-5 since-item graph row justify-content-around gap-3">
            <div class=" col-lg-3 d-flex justify-content-center align-items-center flex-column">
                <span><i class="geo-scale bi bi-cpu-fill"></i></span>
                <span style="font-size: 25px;">@Model.Localizer["smart"]</span>
            </div>
            <div class="col-lg-3 d-flex justify-content-center align-items-center flex-column">
                <span><i class="geo-scale bi bi-tree-fill"></i></span>
                <span style="font-size: 25px;">@Model.Localizer["sustainability"]</span>
            </div>
            <div class="col-lg-3 d-flex justify-content-center align-items-center flex-column">
                <span><i class="geo-scale bi bi-lightbulb-fill"></i></span>
                <span style="font-size: 25px;">@Model.Localizer["innovation"]</span>
            </div>
            <div class="col-lg-3 d-flex justify-content-center align-items-center flex-column">
                <span><i class="geo-scale bi bi-gear-fill"></i></span>
                <span style="font-size: 25px;">@Model.Localizer["quality"]</span>
            </div>
            <div class="col-lg-3 d-flex justify-content-center align-items-center flex-column">
                <span><i class="geo-scale bi bi-lock-fill"></i></span>
                <span style="font-size: 25px;">@Model.Localizer["safety"]</span>
            </div>
        </div>

    </div><!-- End Section Title -->

</section>
<!-- /values Section -->

<section id="about" class="pt-0 about section">
    <!-- Section Title -->
    <div class="overflow-x-auto container section-title" data-aos="slide-right">
        <h2>@Model.Localizer["growing"]</h2>
        <div dir="ltr" class="grow" id="companyChart">
            <!-- Chart will be inserted here by JavaScript -->
        </div>
    </div><!-- End Section Title -->
</section>
<!--end section graph-->

<section id="about" class="pt-0 about section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="slide-left">
        <h2>@Model.Localizer["since"]</h2>
        <p>
            @(Model.IsAr? Model.AboutData.SinceAr : Model.AboutData.Since)
        </p>
        <p class="since">2008</p>
        <div class="mt-4 since-item graph row justify-content-around gap-3">
            <div class="since-item-span col-lg-3 d-flex justify-content-center align-items-center flex-column">
                <span class="counter">@(DateTime.Now.Year - 2008)</span>
                <span>@Model.Localizer["year"]</span>
            </div>
            <div class="since-item-span col-lg-3 d-flex justify-content-center align-items-center flex-column">
                <span class="counter">@Model.AboutData.Countries</span>
                <span>@Model.Localizer["country"]</span>
            </div>
            <div class="since-item-span col-lg-3 d-flex justify-content-center align-items-center flex-column">
                <span class="counter">@Model.AboutData.Projects</span>
                <span>@Model.Localizer["project"]</span>
            </div>
        </div>
        <div class="detals graph row justify-content-around gap-3" data-aos="slide-right">
            <div class="col-lg-2 d-flex justify-content-center align-items-center flex-column">
                <span>+<span class="counter">@Model.AboutData.Projects</span></span>
                <span>@Model.Localizer["project"]</span>
            </div>
            <div class="col-lg-2 d-flex justify-content-center align-items-center flex-column">
                <span>+ <span classcounter>@Model.AboutData.Consultants</span> </span>
                <span>@Model.Localizer["consultants"]</span>
            </div>
            <div class="col-lg-2 d-flex justify-content-center align-items-center flex-column">
                <span>+ <span class="counter">@Model.AboutData.Employees</span> </span>
                <span>@Model.Localizer["emplyoees"]</span>
            </div>
            <div class="col-lg-2 d-flex justify-content-center align-items-center flex-column">
                <span>+ <span class="counter">@Model.AboutData.Clients</span> </span>
                <span>@Model.Localizer["happyClients"]</span>
            </div>
            <div class="col-lg-2 d-flex justify-content-center align-items-center flex-column">
                <span>+ <span class="counter">@Model.AboutData.Branches</span> </span>
                <span>@Model.Localizer["branches"]</span>
            </div>
            <div class="col-lg-2 d-flex justify-content-center align-items-center flex-column">
                <span class="counter"> @Model.AboutData.Countries</span>
                <span>@Model.Localizer["countries"]</span>
            </div>
        </div>
    </div><!-- End Section Title -->

</section>
<!-- /Since Section -->

@section Scripts {
    <script>
        const chartData = [
                            @foreach (var bar in Model.AboutData.Growth)
            {
                @Html.Raw($"{{ year: \"{bar.Year}\", value: {bar.Value} }},")
            }
                        ];
    </script>
    <script src="~/js/about.js" asp-append-version="true"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icons/css/flag-icons.min.css">
}