@page
@model SmartLife.Pages.About.IndexModel

@{
    ViewData["Title"] = "About";
}

<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container">
        <h1>@Model.Localizer["about"]</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-page="/Index">@Model.Localizer["aboutHome"]</a></li>
                <li class="current">@Model.Localizer["about"]</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<!-- about Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@Model.Localizer["about"]</h2>
        <p>@Model.Localizer["paragraph"]</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 mb-5">
            <div class="col-lg-5 text-center">
                <img style="height: 300px; text-align: center; border-radius: 10px;" src="~/img/about2.jpg"
                    class="img-fluid" alt="">
            </div>
            <div class="col-lg-7 content">
                <h3>@Model.Localizer["vision"]</h3>
                <p class="fst-italic">
                    @Model.Localizer["visionp1"]
                </p>
                <p>
                    @Model.Localizer["visionp2"]
                </p>
            </div>
        </div>

        <div class="row gy-4">
            <div class="col-lg-7 content">
                <h3>@Model.Localizer["mission"]</h3>
                <p class="fst-italic">
                    @Model.Localizer["missionp1"]
                </p>
                <p>
                    @Model.Localizer["missionp2"]
                </p>
            </div>
            <div class="col-lg-5 text-center">
                <img style="height: 250px; text-align: center; border-radius: 10px;" src="~/img/about3.jpg"
                    class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<section id="about" class="about section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@Model.Localizer["values"]</h2>
        <p>
            @Model.Localizer["valuesp1"]
        </p>
        <div class="values mt-5 w-100 d-flex justify-content-center align-items-center">
            <div class="circle-container position-relative">
                <div class="circle smart">@Model.Localizer["smart"]</div>
                <div class="circle sustainability">@Model.Localizer["sustainability"]</div>
                <div class="circle innovation">@Model.Localizer["innovation"]</div>
                <div class="circle quality">@Model.Localizer["quality"]</div>
                <div class="circle safety">@Model.Localizer["safety"]</div>
            </div>
        </div>

    </div><!-- End Section Title -->

</section>
<!-- /values Section -->

<section id="about" class="about section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@Model.Localizer["growing"]</h2>
        <div dir="ltr" class="grow" id="companyChart">
            <!-- Chart will be inserted here by JavaScript -->
        </div>
    </div><!-- End Section Title -->
</section>
<!--end section graph-->

<section id="about" class="about section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@Model.Localizer["since"]</h2>
        <p>
            @Model.Localizer["sincep1"]
        </p>
        <p class="since">2008</p>
        <div class="mt-4 since-item graph row justify-content-around gap-3">
            <div class="col-lg-3 d-flex justify-content-center align-items-center flex-column">
                <span>@(DateTime.Now.Year - 2008)</span>
                <span>@Model.Localizer["year"]</span>
            </div>
            <div class="col-lg-3 d-flex justify-content-center align-items-center flex-column">
                <span>@Model.AboutData.Countries</span>
                <span>@Model.Localizer["country"]</span>
            </div>
            <div class="col-lg-3 d-flex justify-content-center align-items-center flex-column">
                <span>@Model.AboutData.Projects</span>
                <span>@Model.Localizer["project"]</span>
            </div>
        </div>
        <div class="detals graph row justify-content-around gap-3">
            <div class="col-lg-2 d-flex justify-content-center align-items-center flex-column">
                <span>+@Model.AboutData.Projects</span>
                <span>@Model.Localizer["project"]</span>
            </div>
            <div class="col-lg-2 d-flex justify-content-center align-items-center flex-column">
                <span>+@Model.AboutData.Consultants</span>
                <span>@Model.Localizer["consultants"]</span>
            </div>
            <div class="col-lg-2 d-flex justify-content-center align-items-center flex-column">
                <span>+@Model.AboutData.Employees</span>
                <span>@Model.Localizer["emplyoees"]</span>
            </div>
            <div class="col-lg-2 d-flex justify-content-center align-items-center flex-column">
                <span>+@Model.AboutData.Clients</span>
                <span>@Model.Localizer["happyClients"]</span>
            </div>
            <div class="col-lg-2 d-flex justify-content-center align-items-center flex-column">
                <span>+@Model.AboutData.Branches</span>
                <span>@Model.Localizer["branches"]</span>
            </div>
            <div class="col-lg-2 d-flex justify-content-center align-items-center flex-column">
                <span>@Model.AboutData.Countries</span>
                <span>@Model.Localizer["countries"]</span>
            </div>
        </div>
    </div><!-- End Section Title -->

</section>
<!-- /Since Section -->

@section Scripts {
    <script>
        const chartData = [
            @foreach(var bar in Model.AboutData.Growth)
            {
                @Html.Raw($"{{ year: \"{bar.Year}\", value: {bar.Value} }},")
            }
        ];
    </script>
    <script src="~/js/about.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/about.css">
}