@page
@model SmartLife.Pages.Team.IndexModel

@{
    ViewData["Title"] = "Team";
}

<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container">
        <h1>@Model.Localizer["team"]</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-page="Index">@Model.Localizer["teamHome"]</a></li>
                <li class="current">@Model.Localizer["team"]</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<!-- Team Section -->
<section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@Model.Localizer["ourteam"]</h2>
        <p>@Model.Localizer["ourteamp1"]</p>
    </div><!-- End Section Title -->

    <div class="team-container">
        @foreach (var member in Model.Team)
        {
            <div class="team-member">
                <img src="@member.Photo" alt="@member.Name" class="profile-pic" />
                <div class="name">@if (Model.IsAr) { @member.NameAr } else { @member.Name }</div>
                <div class="title">@if (Model.IsAr) { @member.RoleAr } else { @member.Role }</div>
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <a asp-page="/Team/Edit" asp-route-id="@member.Id" class="me-3">Edit</a>
                    <form method="post" action="/Team/Delete/@member.Id" style="display: inline;" asp-antiforgery="false">
                        <button class="a text-danger" type="submit">Delete</button>
                    </form>
                }
            </div>
        }
    </div>
</section>
<!-- /Clients Section -->