@page
@model SmartLife.Pages.Contacts.CreateModel

@{
    ViewData["Title"] = "Add Contact";
}

<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container">
        <h1>@Model.Localizer["dashboard"]</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-page="/Index">@Model.Localizer["dashboardhome"]</a></li>
                <li><a asp-page="/Admin/Index">@Model.Localizer["dashboard"]</a></li>
                <li class="current">@Model.Localizer["addcontact"]</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<!-- Admin Section -->
<section id="portfolio" class="portfolio section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@Model.Localizer["addcontact"]</h2>
    </div><!-- End Section Title -->
    <div class="container contact section-title" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <form method="post" class="form" data-aos="fade-up" data-aos-delay="200" asp-antiforgery="false">
                    <div class="row gy-4">
                        <div class="col-md-12">
                            <select asp-for="Contact.Country" style="border-radius: 5px;" class="form-select select arowar" required="">
                                <option value="" disabled selected>@Model.Localizer["select"]</option>
                                @foreach(var country in Model.Countries)
                                {
                                    <option value="@country.Code">@country.Name</option>
                                }
                            </select>
                            <span asp-validation-for="Contact.Country" class="text-danger"></span>
                        </div>
                        <div>
                            <label class="w-100 mb-2 ps-2 text-start textar">@Model.Localizer["map"]</label>
                            <input asp-for="Contact.GoogleMap" style="border-radius: 5px;" type="text" class="form-control mb-1">
                            <span asp-validation-for="Contact.GoogleMap" class="text-danger"></span>
                        </div>
                        <div id="addresses" class="text-start textar">
                            <span>@Model.Localizer["address"]</span>
                            <i id="iconAddress" style="color: #7cc576; cursor: pointer; margin-left: 25px;"
                                class="bi bi-plus-circle fs-5"></i>
                        </div>
                        <div id="emails" class="text-start textar">
                            <span>@Model.Localizer["email"]</span>
                            <i id="iconEmail" style="color: #7cc576; cursor: pointer; margin-left: 44px;"
                                class="bi bi-plus-circle fs-5"></i>
                        </div>
                        <div id="phones" class="text-start textar">
                            <span>@Model.Localizer["phone"]</span>
                            <i id="iconPhone" style="color: #7cc576; cursor: pointer; margin-left: 47px;"
                                class="bi bi-plus-circle fs-5"></i>
                        </div>
                        <div id="whatsup" class="text-start textar">
                            <span>@Model.Localizer["whatsApp"]</span>
                            <i id="iconWhasapp" style="color: #7cc576; cursor: pointer; margin-left: 18px;"
                                class="bi bi-plus-circle fs-5"></i>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>

                            <button type="submit">@Model.Localizer["add"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /Admin Section -->

@section Scripts {
    <script>
        let a = 0;
        let e = 0;
        let p = 0;
        let w = 0;

        let addressen = "@Html.Raw(Model.Localizer["addressen"])";
        let addressar = "@Html.Raw(Model.Localizer["addressar"])";
        let emailh = "@Html.Raw(Model.Localizer["emailh"])";
        let phoneh = "@Html.Raw(Model.Localizer["phoneh"])";
        let whasapph = "@Html.Raw(Model.Localizer["whatsapph"])";
    </script>
    <script src="~/js/contact.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
