@page "{id}"
@model SmartLife.Pages.Contacts.EditModel

@{
    ViewData["Title"] = "Edit Contact";
}

<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container">
        <h1>@Model.Localizer["dashboard"]</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-page="/Index">@Model.Localizer["dashboardhome"]</a></li>
                <li><a asp-page="/Admin/Index">@Model.Localizer["dashboard"]</a></li>
                <li class="current">@Model.Localizer["editcontact"]</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<!-- Admin Section -->
<section id="portfolio" class="portfolio section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@Model.Localizer["editcontact"]</h2>
    </div><!-- End Section Title -->
    <div class="container contact section-title" data-aos="fade-up">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7">
                <form method="post" class="form" data-aos="fade-up" data-aos-delay="200" asp-antiforgery="false">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row gy-4">
                        <div>
                            <label class="w-100 mb-2 ps-2 text-start textar">@Model.Localizer["country"]</label>
                            <select asp-for="Contact.Country" style="border-radius: 5px;" class="form-select select" required="">
                                <option value="" disabled selected>@Model.Localizer["select"]</option>
                                @foreach(var country in Model.Countries)
                                {
                                    <option value="@country.Code">@country.Name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label class="w-100 mb-2 ps-2 text-start textar">@Model.Localizer["map"]</label>
                            <input asp-for="Contact.GoogleMap" style="border-radius: 5px;" type="text" class="form-control mb-1">
                            <span asp-validation-for="Contact.GoogleMap" class="text-danger"></span>
                        </div>
                        <div>
                            <label class="w-100 mb-2 ps-2 text-start textar">@Model.Localizer["addresses"]</label>
                            @for(int i = 0; i < Model.Contact.Addresses.Count; i++)
                            {
                                <input asp-for="Contact.Addresses[@i]" style="border-radius: 5px;" class="form-control mb-1">
                                <span asp-validation-for="Contact.Addresses[@i]" class="text-danger"></span>

                                <input asp-for="Contact.AddressesAr[@i]" style="border-radius: 5px;" class="form-control mb-1">
                                <span asp-validation-for="Contact.AddressesAr[@i]" class="text-danger"></span>
                            }
                        </div>
                        <div>
                            <label class="w-100 mb-2 ps-2 text-start textar">@Model.Localizer["emails"]</label>
                            @for(int i = 0; i < Model.Contact.Emails.Count; i++)
                            {
                                <input asp-for="Contact.Emails[@i]" style="border-radius: 5px;" type="email" class="form-control mb-1">
                                <span asp-validation-for="Contact.Emails[@i]" class="text-danger"></span>
                            }
                        </div>
                        <div>
                            <label class="w-100 mb-2 ps-2 text-start textar">@Model.Localizer["phones"]</label>
                            @for(int i = 0; i < Model.Contact.Phones.Count; i++)
                            {
                                <input asp-for="Contact.Phones[@i]" style="border-radius: 5px;" class="form-control mb-1">
                                <span asp-validation-for="Contact.Phones[@i]" class="text-danger"></span>
                            }
                        </div>
                        <div>
                            <label class="w-100 mb-2 ps-2 text-start textar">@Model.Localizer["whatsApps"]</label>
                            @for(int i = 0; i < Model.Contact.WhatsApps.Count; i++)
                            {
                                <input asp-for="Contact.WhatsApps[@i]" style="border-radius: 5px;" class="form-control mb-1">
                                <span asp-validation-for="Contact.WhatsApps[@i]" class="text-danger"></span>
                            }
                        </div>
                        <div id="addresses" class="text-start textar">
                            <span>@Model.Localizer["address"]</span>
                            <i id="iconAddress" style="color: #7cc576; cursor: pointer; margin-left: 25px;" class="bi bi-plus-circle fs-5"></i>
                        </div>
                        <div id="emails" class="text-start textar">
                            <span>@Model.Localizer["email"]</span>
                            <i id="iconEmail" style="color: #7cc576; cursor: pointer; margin-left: 45px;" class="bi bi-plus-circle fs-5"></i>
                        </div>
                        <div id="phones" class="text-start textar">
                            <span>@Model.Localizer["phone"]</span>
                            <i id="iconPhone" style="color: #7cc576; cursor: pointer; margin-left: 48px;" class="bi bi-plus-circle fs-5"></i>
                        </div>
                        <div id="whatsup" class="text-start textar">
                            <span>@Model.Localizer["whatsApp"]</span>
                            <i id="iconWhasapp" style="color: #7cc576; margin-left: 19px; cursor: pointer;" class="bi bi-plus-circle fs-5"></i>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
            
                            <button formaction="" type="submit">@Model.Localizer["save"]</button>
                            <button formaction="/Contacts/Delete/@Model.Contact.Country" type="submit" class="btn-danger">@Model.Localizer["delete"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /Admin Section -->

@section Scripts {
    <script>
        let a = @Model.Contact.Addresses.Count;
        let e = @Model.Contact.Emails.Count;
        let p = @Model.Contact.Phones.Count;
        let w = @Model.Contact.WhatsApps.Count;

        let addressen = "@Html.Raw(Model.Localizer["addressen"])";
        let addressar = "@Html.Raw(Model.Localizer["addressar"])";
        let emailh = "@Html.Raw(Model.Localizer["emailh"])";
        let phoneh = "@Html.Raw(Model.Localizer["phoneh"])";
        let whasapph = "@Html.Raw(Model.Localizer["whatsapph"])";
    </script>
    <script src="~/js/contact.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
