@page
@model SmartLife.Pages.Contacts.IndexModel

@{
    ViewData["Title"] = "Contacts";
}

<!-- Page Title -->
<div style="background-image: /img/contact.jpg;" class="page-title dark-background">
    <div class="container">
        <h1>@Model.Localizer["contactus"]</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-page="/Index">@Model.Localizer["contacthome"]</a></li>
                <li class="current">@Model.Localizer["contactus"]</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<!-- Contact Section -->
<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@Model.Localizer["contactus"]</h2>
        <p>@Model.Localizer["contactusp1"]</p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        @if (!string.IsNullOrEmpty(Model.Contact.GoogleMap))
        {
            <div class="mb-4" data-aos="fade-up" data-aos-delay="200">
                <iframe style="border:0; width: 100%; height: 270px;" src="@Model.Contact.GoogleMap" frameborder="0"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <!-- End Google Maps -->
        }
        <div class="row gy-4">

            <div class="col-lg-4">
                @if (Model.Contact.Addresses.Count != 0)
                {
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-geo-alt flex-shrink-0 contactar"></i>
                        <div>
                            <h3>@Model.Localizer["address"]</h3>
                            @foreach (string address in Model.IsAr ? Model.Contact.AddressesAr : Model.Contact.Addresses)
                            {
                                string[] aa = address.Split(':');
                                @if (aa.Length > 1)
                                {
                                    <p><strong>@aa[0]:</strong>@aa[1]</p>
                                }
                                else
                                {
                                    <p>@address</p>
                                }
                            }
                        </div>
                    </div>
                    <!-- End Info Item -->
                }

                @if (Model.Contact.Phones.Count != 0)
                {
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-telephone flex-shrink-0 contactar"></i>
                        <div>
                            <h3>@Model.Localizer["call"]</h3>
                            @foreach (string phone in Model.Contact.Phones)
                            {
                                <p><a class="text-dark" style="font-size: 14px; font-weight: normal;" href="tel:@phone">@phone</a></p>
                            }
                        </div>
                    </div>
                    <!-- End Info Item -->
                }

                @if (Model.Contact.WhatsApps.Count != 0)
                {
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-telephone flex-shrink-0 contactar"></i>
                        <div>
                            <h3>@Model.Localizer["whatsApp"]</h3>
                            @foreach (string whatsApp in Model.Contact.WhatsApps)
                            {
                                <p><a class="text-dark" style="font-size: 14px; font-weight: normal;" href="https://wa.me/@whatsApp">@whatsApp</a></p>
                            }
                        </div>
                    </div>
                    <!-- End Info Item -->
                }

                @if (Model.Contact.Emails.Count != 0)
                {
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
                        <i class="bi bi-envelope flex-shrink-0 contactar"></i>
                        <div>
                            <h3>@Model.Localizer["emails"]</h3>
                            @foreach (string email in Model.Contact.Emails)
                            {
                                <p><a class="text-dark" style="font-size: 14px; font-weight: normal;" href="mailto:@email">@email</a></p>
                            }
                        </div>
                    </div>
                    <!-- End Info Item -->
                }
            </div>

            <div class="col-lg-8">
                <form method="post" class="form" data-aos="fade-up" data-aos-delay="200" asp-antiforgery="false">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input type="text" name="name" class="form-control"
                                placeholder="@Model.Localizer["YourName"]" required="">
                        </div>

                        <div class="col-md-6 ">
                            <input type="text" class="form-control" name="phone" placeholder="@Model.Localizer["Phone"]"
                                required="">
                        </div>

                        <div class="col-md-12">
                            <input type="email" class="form-control" name="email"
                                placeholder="@Model.Localizer["YourEmail"]" required="">
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" name="message" rows="6"
                                placeholder="@Model.Localizer["Message"]" required=""></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>

                            <button type="submit">@Model.Localizer["send"]</button>
                        </div>
                    </div>
                </form>
            </div><!-- End Contact Form -->
        </div>
    </div>
</section><!-- /Contact Section -->
