@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Localization

@model SmartLife.Data.ProductsMenu

@{
    bool isAr = StringComparer.OrdinalIgnoreCase.Equals(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName, "ar");
}

@foreach (var product in Model.Products["-"])
{
    <li><a asp-page="/Products/Details" asp-route-id="@product.Id">@if (isAr) { @product.NameAr } else { @product.Name }</a></li>
}

@foreach (var cat in Model.Categories)
{
    @if (cat == "")
    {
        continue;
    }
    
    <li class="dropdown">
        <a href="#"><span>@cat</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
        <ul>
            @foreach (var product in Model.Products[cat])
            {
                <li><a asp-page="/Products/Details" asp-route-id="@product.Id">@if (isAr) { @product.NameAr } else { @product.Name }</a></li>
            }
        </ul>
    </li>
}
