@model SmartLife.Data.ProductsMenu

<li class="dropdown">
    <a asp-page="/Products/Index"><span>Products</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
    <ul>
        @foreach (var product in Model.Products[-1])
        {
            <li><a asp-page="/Products/Details" asp-route-id="@product.Id">@product.Name</a></li>
        }

        @foreach (var cat in Model.Categories)
        {
            <li class="dropdown">
                <a href="#"><span>@cat.Name</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                    @foreach (var product in Model.Products[cat.Id])
                    {
                        <li><a asp-page="/Products/Details" asp-route-id="@product.Id">@product.Name</a></li>
                    }
                </ul>
            </li>
        }
    </ul>
</li>