@page
@model SmartLife.Pages.News.IndexModel

@{
    ViewData["Title"] = "Last News";
}

<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container">
        <h1>@Model.Localizer["lastnews"]</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-page="/Index">@Model.Localizer["lastnewshome"]</a></li>
                <li class="current">@Model.Localizer["lastnews"]</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<!-- Clients Section -->
<section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@Model.Localizer["lastnews"]</h2>
        <p>
            @Model.Localizer["lastnewsp1"]
        </p>
    </div><!-- End Section Title -->

    <div class="pricing section">
        <div class="container">
            <div class="row gy-4">
                @foreach (var post in Model.Posts)
                {
                    <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pricing-item">
                            <h3 class="mb-0">@post.Title</h3>
                            <span>@post.Time</span>
                            <p class="my-3">@post.Content</p>
                            <div class="text-end">
                                @foreach(var image in post.Images)
                                {
                                    <img style="height: 200px;" class="mb-1" src="@image" alt="@post.Title">
                                }
                            </div>
                            @if (User.Identity != null && User.Identity.IsAuthenticated)
                            {
                                <a asp-page="/News/Edit" asp-route-id="@post.Id" class="me-3">Edit</a>
                                <form method="post" action="/News/Delete/@post.Id" style="display: inline;" asp-antiforgery="false">
                                    <button class="a text-danger" type="submit">Delete</button>
                                </form>
                            }
                        </div>
                    </div><!-- End post Item -->
                }
            </div>
        </div>
    </div>

</section>
<!-- /posts Section -->