@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResources> Localizer

@model SmartLife.Models.Contact

@{
    bool isAr = StringComparer.OrdinalIgnoreCase.Equals(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName, "ar");
}

<div class="footer-contact pt-3">
    <p>@SmartLife.Utilities.LocationHelper.GetCountryNameBy2LetterISO(Model.Country)</p>
    @foreach (var address in isAr ? Model.AddressesAr : Model.Addresses)
    {
        <p>@address</p>
    }
    @foreach (var phone in Model.Phones)
    {
        <p class="mt-3"><strong>@Localizer["foot_phone"]:</strong> <span>@phone</span></p>
    }
    @foreach (var whatsApp in Model.WhatsApps)
    {
        <p class="mt-3"><strong>@Localizer["foot_whatsapp"]:</strong> <span>@whatsApp</span></p>
    }
    @foreach (var email in Model.Emails)
    {
        <p><strong>@Localizer["foot_email"]:</strong> <span>@email</span></p>
    }
</div>