@page
@model SmartLife.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Add Product";
}

<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container">
        <h1>@Model.Localizer["productadmin"]</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-page="/Index">@Model.Localizer["productadminhome"]</a></li>
                <li><a asp-page="/Admin/Index">@Model.Localizer["productadmin"]</a></li>
                <li class="current">@Model.Localizer["addproduct"]</li>
            </ol>
        </nav>
    </div>
</div>

<!-- Admin Section -->
<section id="portfolio" class="portfolio section">
    <div class="container section-title" data-aos="fade-up">
        <h2>@Model.Localizer["addproduct"]</h2>
    </div>

    <div class="container contact section-title" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <form method="post" enctype="multipart/form-data" class="form" data-aos="fade-up" data-aos-delay="200" asp-antiforgery="false">
                    <div class="row gy-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        
                        <div class="col-md-12">
                            <input asp-for="Product.Name" class="form-control" placeholder="Name" style="border-radius: 5px;" required="">
                            <span asp-validation-for="Product.Name" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            <textarea asp-for="Product.Description" class="form-control" placeholder="Description" style="border-radius: 5px;" required=""></textarea>
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            <input list="options" asp-for="Product.Category" class="form-control" placeholder="Category" style="border-radius: 5px;">
                            <datalist id="options">
                                @foreach(var cat in Model.CategoryList)
                                {
                                    <option value="@cat" />
                                }
                            </datalist>
                            <span asp-validation-for="Product.Category" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            <div>
                                <label class="w-100 mb-2 ps-2 text-start" for="MainImage">@Model.Localizer["image"]</label>
                                <input type="file" asp-for="Image" class="form-control" style="border-radius: 5px;" required="">
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div id="feature" class="text-start mt-3">
                                <span>@Model.Localizer["feature"]</span>
                                <i id="iconfeature" style="color: #7cc576; cursor: pointer; margin-left: 11px;" class="bi bi-plus-circle fs-5"></i>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div id="model" class="text-start mt-3">
                                <span>@Model.Localizer["model"]</span>
                                <i id="iconmodel" style="color: #7cc576; cursor: pointer;" class="bi bi-plus-circle fs-5 ms-3"></i>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div id="photo" class="text-start mt-3">
                                <span>@Model.Localizer["photo"]</span>
                                <i id="iconphoto" style="color: #7cc576; cursor: pointer; margin-left: 18px;" class="bi bi-plus-circle fs-5"></i>
                            </div>
                            <div id="photos-container">
                                <input type="file" name="AdditionalPhotos" multiple class="form-control mt-2" style="display: none;" />
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div id="video" class="text-start mt-3">
                                <span>@Model.Localizer["video"]</span>
                                <i id="iconvideo" style="color: #7cc576; cursor: pointer; margin-left: 20px;" class="bi bi-plus-circle fs-5"></i>
                            </div>
                            <div id="videos-container">
                                <input type="hidden" id="video-count" value="0" />
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <button type="submit">@Model.Localizer["add"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/product.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
