@page "{id:int}"
@model SmartLife.Pages.Products.DetailsModel

@{
    ViewData["Title"] = @Model.Product.Name;
}

<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container">
        <h1>@Model.Product.Name</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-page="/Index">@Model.Localizer["detalishome"]</a></li>
                <li><a asp-page="/Products/Index">@Model.Localizer["products"]</a></li>
                <li class="current">@Model.Product.Name</li>
            </ol>
        </nav>
    </div>
</div>

<!-- product Section -->
<section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@if (Model.IsAr) { @Model.Product.NameAr } else { @Model.Product.Name }</h2>
        <p>@if (Model.IsAr) { @Model.Product.DescriptionAr } else { @Model.Product.Description }</p>
    </div><!-- End Section Title -->

    <div class="container">
        @if (Model.Product.Features.Count != 0)
        {
            <div class="" data-layout="masonry" data-sort="original-order">
                <h2 class="partners mb-5">@Model.Localizer["features"]</h2>
                <div class="" data-aos="fade-up" data-aos-delay="200">
                    @foreach (var pFeature in @Model.Product.Features)
                    {
                        <div class="container mb-5" data-aos="fade-up" data-aos-delay="100">
                            <div class="row justify-content-between gy-4">
                                <div class="col-lg-4 text-center">
                                    <img style="text-align: center; border-radius: 10px;"
                                        src="@pFeature.Image" class="img-fluid" alt="">
                                </div>
                                <div class="col-lg-7 content">
                                    <h3>@if (Model.IsAr) { @pFeature.NameAr } else { @pFeature.Name }</h3>
                                    <p class="fst-italic mb-5">@if (Model.IsAr) { @pFeature.DescriptionAr } else { @pFeature.Description }</p>
                                    @if (!string.IsNullOrEmpty(pFeature.AppStore))
                                    {
                                        <a href="@pFeature.AppStore">
                                            <img src="~/img/apple.svg" alt="App Store" style="height: 40px;">
                                        </a>
                                    }
                                    @if (!string.IsNullOrEmpty(pFeature.GooglePlay))
                                    {
                                        <a href="@pFeature.GooglePlay">
                                            <img src="~/img/google.svg" alt="Google Play" style="height: 40px;">
                                        </a>
                                    }
                                    @if (!string.IsNullOrEmpty(pFeature.DataSheetUrl))
                                    {
                                        <a style="color: white; width: fit-content;" href="@pFeature.DataSheetUrl" class="see-more d-block mt-5" download><i
                                            class="bi bi-download"></i> DataSheet</a>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- End feature Item -->
                    }
                </div><!-- End features Container -->
            </div>
        }
        
        @if (Model.Product.Models.Count != 0)
        {
            <div class="" data-layout="masonry" data-sort="original-order">
                <h2 class="partners mb-5">@Model.Localizer["models"]</h2>
                <div class="" data-aos="fade-up" data-aos-delay="200">
                    @foreach (var pModel in @Model.Product.Models)
                    {
                        <div class="container mb-5" data-aos="fade-up" data-aos-delay="100">
                            <div class="row justify-content-between gy-4">
                                <div class="col-lg-4 text-center">
                                    <img style="height: 350px; text-align: center; border-radius: 10px;"
                                    src="@pModel.Image" class="img-fluid" alt="">
                                </div>
                                <div class="col-lg-7 content">
                                    <h3>@if (Model.IsAr) { @pModel.NameAr } else { @pModel.Name }</h3>
                                    <p class="fst-italic mb-5">@if (Model.IsAr) { @pModel.DescriptionAr } else { @pModel.Description }</p>
                                    @if (!string.IsNullOrEmpty(pModel.AppStore))
                                    {
                                        <a href="@pModel.AppStore">
                                            <img src="~/img/apple.svg" alt="App Store" style="height: 40px;">
                                        </a>
                                    }
                                    @if (!string.IsNullOrEmpty(pModel.GooglePlay))
                                    {
                                        <a href="@pModel.GooglePlay">
                                            <img src="~/img/google.svg" alt="Google Play" style="height: 40px;">
                                        </a>
                                    }
                                    @if (!string.IsNullOrEmpty(pModel.DataSheetUrl))
                                    {
                                        <a style="color: white; width: fit-content;" href="@pModel.DataSheetUrl" class="see-more d-block mt-5" download><i
                                            class="bi bi-download"></i> DataSheet</a>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- End model Item -->
                    }
                </div><!-- End models Container -->
        </div>
        }
        
        @if (Model.Product.Photos.Count != 0)
        {
            <div class="mb-5" data-layout="masonry" data-sort="original-order">
                <h2 class="partners mb-5">@Model.Localizer["photogallery"]</h2>
                <div class="d-flex justify-content-around" data-aos="fade-up" data-aos-delay="200">
                    <div class="portfolio-details col-lg-8">
                        <div class="portfolio-details-slider swiper init-swiper">
                            <script type="application/json" class="swiper-config">
                        {
                        "loop": true,
                        "speed": 600,
                        "autoplay": {
                            "delay": 5000
                        },
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        }
                        }
                    </script>

                            <div class="swiper-wrapper align-items-center">
                                @foreach (var photo in Model.Product.Photos)
                                {
                                    <div class="swiper-slide portfolio-item isotope-item">
                                        <img src="@photo.Url" class="img-fluid" alt="">
                                        <div class="portfolio-info showar">
                                            <h4>@if (Model.IsAr) { @photo.NameAr } else { @photo.Name }</h4>
                                            <p>@if (Model.IsAr) { @photo.DescriptionAr } else { @photo.Description }</p>
                                            <a href="@photo.Url" title="@if (Model.IsAr) { @photo.NameAr } else { @photo.Name }"
                                            data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i
                                                class="bi bi-zoom-in"></i></a>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div><!-- End photos Container -->
            </div>
            <!--End photo gallary-->
        }

        @if (Model.Product.Videos.Count != 0)
        {
            <div class="" data-layout="masonry" data-sort="original-order">
                <h2 class="partners mb-5">@Model.Localizer["videogallary"]</h2>
                <div class="d-flex justify-content-around" data-aos="fade-up" data-aos-delay="200">
                    <div class="portfolio-details col-lg-8 text-center">
                        <div class="portfolio-details-slider swiper init-swiper">

                            <script type="application/json" class="swiper-config">
                        {
                        "loop": true,
                        "speed": 600,
                        "autoplay": {
                            "delay": 5000
                        },
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        }
                        }
                    </script>

                            <div class="swiper-wrapper align-items-center">
                                @foreach (var video in Model.Product.Videos)
                                {
                                    <div class="swiper-slide">
                                        <iframe src="https://www.youtube.com/embed/@video" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                }
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div><!-- End photos Container -->
            </div>
            <!--End video gallary-->
        }
    </div>

</section><!-- /product Section -->
@section Scripts {
    <script>
        const videos = swiper.el.querySelectorAll('video');
        videos.forEach(video => {
            video.addEventListener('play', () => {
                swiper.autoplay.stop();
            });

            video.addEventListener('pause', () => {
                swiper.autoplay.start();
            });

            video.addEventListener('ended', () => {
                swiper.autoplay.start();
            });
        });
    </script>
}
