@page "{id:int}"
@model SmartLife.Pages.Products.EditModel

@{
    ViewData["Title"] = "Edit Product";
}

<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container">
        <h1>@Model.Localizer["editproductadmin"]</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-page="/Index">@Model.Localizer["editproductadminhome"]</a></li>
                <li><a asp-page="/Admin/Index">@Model.Localizer["editproductadmin"]</a></li>
                <li class="current">@Model.Localizer["editproduct"]</li>
            </ol>
        </nav>
    </div>
</div>

<!-- Admin Section -->
<section id="portfolio" class="portfolio section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@Model.Localizer["editproduct"]</h2>
    </div><!-- End Section Title -->
    <div class="container contact section-title" data-aos="fade-up">
        <!--main details-->
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <form method="post" enctype="multipart/form-data" class="form" data-aos="fade-up" data-aos-delay="200" asp-antiforgery="false">
                    <input type="hidden" name="id" value="@Model.Product.Id" />
                    <div class="row gy-4">
                        <div class="col-md-12">
                            <label class="w-100 mb-2 ps-2 text-start">@Model.Localizer["name"]</label>
                            <input asp-for="Product.Name" class="form-control" placeholder="Name (English)"
                                style="border-radius: 5px;" required="">
                            <span asp-validation-for="Product.Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="w-100 mb-2 ps-2 text-start">@Model.Localizer["name"]</label>
                            <input asp-for="Product.NameAr" class="form-control" placeholder="Name (Arabic)"
                                style="border-radius: 5px;" required="">
                            <span asp-validation-for="Product.NameAr" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="w-100 mb-2 ps-2 text-start">@Model.Localizer["description"]</label>
                            <textarea asp-for="Product.Description" class="form-control" placeholder="Description (English)"
                                style="border-radius: 5px;" required=""></textarea>
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="w-100 mb-2 ps-2 text-start">@Model.Localizer["description"]</label>
                            <textarea asp-for="Product.DescriptionAr" class="form-control" placeholder="Description (Arabic)"
                                style="border-radius: 5px;" required=""></textarea>
                            <span asp-validation-for="Product.DescriptionAr" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="w-100 mb-2 ps-2 text-start">@Model.Localizer["category"]</label>
                                <input list="options" asp-for="Product.Category" class="form-control"
                                    style="border-radius: 5px;">
                                <datalist id="options">
                                    @foreach (var cat in Model.CategoryList)
                                    {
                                        <option value="@cat" />
                                    }
                                </datalist>
                                <span asp-validation-for="Product.Category" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label class="w-100 mb-2 ps-2 text-start">@Model.Localizer["category"]</label>
                                <input list="options" asp-for="Product.CategoryAr" class="form-control"
                                    style="border-radius: 5px;">
                                <datalist id="options">
                                    @foreach (var cat in Model.CategoryArList)
                                    {
                                        <option value="@cat" />
                                    }
                                </datalist>
                                <span asp-validation-for="Product.CategoryAr" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label class="w-100 mb-2 ps-2 text-start" for="image">@Model.Localizer["image"]</label>
                                <input type="file" asp-for="Image" class="form-control"
                                    style="border-radius: 5px;">
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                            <div id="feature" class="text-start mt-3">
                                <span>@Model.Localizer["feature"]</span>
                                <i id="iconfeature" style="color: #7cc576; cursor: pointer; margin-left: 11px;"
                                    class="bi bi-plus-circle fs-5"></i>
                            </div>
                            <div id="model" class="text-start mt-3">
                                <span>@Model.Localizer["model"]</span>
                                <i id="iconmodel" style="color: #7cc576; cursor: pointer;"
                                    class="bi bi-plus-circle fs-5 ms-3"></i>
                            </div>
                            <div id="photo" class="text-start mt-3">
                                <span>@Model.Localizer["photo"]</span>
                                <i id="iconphoto" style="color: #7cc576; cursor: pointer; margin-left: 18px;"
                                    class="bi bi-plus-circle fs-5"></i>
                            </div>
                            <div id="video" class="text-start mt-3">
                                <span>@Model.Localizer["video"]</span>
                                <i id="iconvideo" style="color: #7cc576; cursor: pointer; margin-left: 20px;"
                                    class="bi bi-plus-circle fs-5"></i>
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>

                            <button type="submit">@Model.Localizer["save"]</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <!--Features-->
        <div class="row justify-content-center">
            @for (int i = 0; i < Model.Product.Features.Count; i++)
            {
                <div class="col-lg-7">
                    <form enctype="multipart/form-data" method="post" class="form" data-aos="fade-up" data-aos-delay="200" asp-antiforgery="false">
                        <input type="hidden" name="featureId" value="@i" />
                        <input type="hidden" name="id" value="@Model.Product.Id" />
                        <div class="row gy-4">
                            <div class="col-md-12 mt-5">
                                <h3 class="w-100 mb-2 ps-2 text-start">@Model.Localizer["feature"] @(i + 1)</h3>
                                <div>
                                    <label class="w-100 mb-2 ps-2 text-start">@Model.Localizer["name"]</label>
                                    <input name="SubModule.Name" type="text" style="border-radius: 5px;"
                                        class="form-control" placeholder="Name (English)" value="@Model.Product.Features[i].Name" required="">
                                </div>
                                <div>
                                    <label class="w-100 mb-2 ps-2 text-start">@Model.Localizer["name"]</label>
                                    <input name="SubModule.NameAr" type="text" style="border-radius: 5px;"
                                        class="form-control" placeholder="Name (Arabic)" value="@Model.Product.Features[i].NameAr" required="">
                                </div>
                                <div class="col-md-12 mt-2">
                                    <label class="w-100 mb-2 ps-2 text-start">@Model.Localizer["description"]</label>
                                    <textarea name="SubModule.Description" type="text" class="form-control"
                                        style="border-radius: 5px;" placeholder="Description (English)">@Model.Product.Features[i].Description</textarea>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <label class="w-100 mb-2 ps-2 text-start">@Model.Localizer["description"]</label>
                                    <textarea name="SubModule.DescriptionAr" type="text" class="form-control"
                                        style="border-radius: 5px;" placeholder="Description (Arabic)">@Model.Product.Features[i].DescriptionAr</textarea>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <label class="w-100 mb-2 ps-2 text-start" for="image">@Model.Localizer["image"]</label>
                                    <input asp-for="SubImage" style="border-radius: 5px;" class="form-control"
                                        placeholder="Image">
                                </div>
                                <div class="col-md-12 mt-2">
                                    <label class="w-100 mb-2 ps-2 text-start" for="image">@Model.Localizer["data"]</label>
                                    <input asp-for="DataSheet" style="border-radius: 5px;" class="form-control"
                                        placeholder="Data Sheet">
                                </div>
                                <div class="col-md-12 mt-2">
                                    <label class="w-100 mb-2 ps-2 text-start">@Model.Localizer["play"]</label>
                                    <input name="SubModule.GooglePlay" type="text" style="border-radius: 5px;"
                                        class="form-control" placeholder="Link GooglePlay" value="@Model.Product.Features[i].GooglePlay">
                                </div>
                                <div class="col-md-12 mt-2">
                                    <label class="w-100 mb-2 ps-2 text-start">@Model.Localizer["store"]</label>
                                    <input name="SubModule.AppStore" type="text" style="border-radius: 5px;"
                                        class="form-control" placeholder="Link AppStore" value="@Model.Product.Features[i].AppStore">
                                </div>
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>

                                <button asp-page-handler="EditFeature" type="submit">@Model.Localizer["save"]</button>
                                <button asp-page-handler="DeleteFeature" type="submit">@Model.Localizer["delete"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            }
        </div>
        <!--model-->
        <div class="row justify-content-center">
            @for (int i = 0; i < Model.Product.Models.Count; i++)
            {
                <div class="col-lg-7">
                    <form method="post" enctype="multipart/form-data" class="form" data-aos="fade-up" data-aos-delay="200" asp-antiforgery="false">
                        <input type="hidden" name="modelId" value="@i">
                        <input type="hidden" name="id" value="@Model.Product.Id">
                        <div class="row gy-4">
                            <div class="col-md-12 mt-5">
                                <h3 class="w-100 mb-2 ps-2 text-start">@Model.Localizer["model"] @(i + 1)</h3>
                                <div>
                                    <label class="w-100 mb-2 ps-2 text-start">@Model.Localizer["name"]</label>
                                    <input name="SubModule.Name" type="text" style="border-radius: 5px;"
                                        class="form-control" placeholder="Name (English)" value="@Model.Product.Models[i].Name" required="">
                                </div>
                                <div>
                                    <label class="w-100 mb-2 ps-2 text-start">@Model.Localizer["name"]</label>
                                    <input name="SubModule.NameAr" type="text" style="border-radius: 5px;"
                                        class="form-control" placeholder="Name (Arabic)" value="@Model.Product.Models[i].NameAr" required="">
                                </div>
                                <div class="col-md-12 mt-2">
                                    <label class="w-100 mb-2 ps-2 text-start">@Model.Localizer["description"]</label>
                                    <textarea name="SubModule.Description" type="text" class="form-control"
                                        style="border-radius: 5px;" placeholder="Description (English)">@Model.Product.Models[i].Description</textarea>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <label class="w-100 mb-2 ps-2 text-start">@Model.Localizer["description"]</label>
                                    <textarea name="SubModule.DescriptionAr" type="text" class="form-control"
                                        style="border-radius: 5px;" placeholder="Description (Arabic)">@Model.Product.Models[i].DescriptionAr</textarea>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <label class="w-100 mb-2 ps-2 text-start" for="image">@Model.Localizer["image"]</label>
                                    <input asp-for="SubImage" style="border-radius: 5px;" class="form-control"
                                        placeholder="Image">
                                </div>
                                <div class="col-md-12 mt-2">
                                    <label class="w-100 mb-2 ps-2 text-start" for="image">@Model.Localizer["data"]</label>
                                    <input asp-for="DataSheet" style="border-radius: 5px;" class="form-control"
                                        placeholder="Data Sheet">
                                </div>
                                <div class="col-md-12 mt-2">
                                    <label class="w-100 mb-2 ps-2 text-start">@Model.Localizer["play"]</label>
                                    <input name="SubModule.GooglePlay" type="text" style="border-radius: 5px;"
                                        class="form-control" placeholder="Link GooglePlay" value="@Model.Product.Models[i].GooglePlay">
                                </div>
                                <div class="col-md-12 mt-2">
                                    <label class="w-100 mb-2 ps-2 text-start">@Model.Localizer["store"]</label>
                                    <input name="SubModule.AppStore" type="text" style="border-radius: 5px;"
                                        class="form-control" placeholder="Link AppStore" value="@Model.Product.Models[i].AppStore">
                                </div>
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>

                                <button asp-page-handler="EditModel" type="submit">@Model.Localizer["save"]</button>
                                <button asp-page-handler="DeleteModel" type="submit">@Model.Localizer["delete"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            }
        </div>
        <!--photos-->
        <div class="container mt-5">
            <h3 class="mb-4">@Model.Localizer["photog"]</h3>
            <div class="row gy-4">
                @for (int i = 0; i < Model.Product.Photos.Count; i++)
                {
                    <div class="col-lg-4">
                        <form asp-page-handler="DeletePhoto" method="post" class="form" asp-antiforgery="false">
                            <img style="width: 100%;" src="@Model.Product.Photos[i].Url" alt="">
                            <input type="hidden" name="photoId" value="@i" />
                            <input type="hidden" name="id" value="@Model.Product.Id" />
                            <div class="col-md-12 text-center mt-3">
                                <button type="submit">@Model.Localizer["delete"]</button>
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>
        <!--videos-->
        <div class="container mt-5">
            <h3 class="mb-4">@Model.Localizer["videog"]</h3>
            <div class="row gy-4">
                @for (int i = 0; i < Model.Product.Videos.Count; i++)
                {
                    <div class="col-lg-4">
                        <form asp-page-handler="DeleteVideo" class="form" asp-antiforgery="false">
                            <input type="hidden" name="videoId" value="@i" />
                            <input type="hidden" name="id" value="@Model.Product.Id" />
                            <iframe src="@Model.Product.Videos[i]" frameborder="0"
                                allowfullscreen></iframe>
                            <div class="col-md-12 text-center mt-3">
                                <button type="submit">@Model.Localizer["delete"]</button>
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- /Admin Section -->

@section Scripts {
    <script src="~/js/editproduct.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
