@page
@model SmartLife.Pages.Admin.IndexModel

@{
	ViewData["Title"] = "Admin";
}

<!-- Page Title -->
<div class="page-title dark-background">
	<div class="container">
		<h1>@Model.Localizer["adminadmin"]</h1>
		<nav class="breadcrumbs">
			<ol>
				<li><a asp-page="/Index">@Model.Localizer["adminhome"]</a></li>
				<li class="current">@Model.Localizer["adminadmin"]</li>
			</ol>
		</nav>
	</div>
</div><!-- End Page Title -->
<!-- Admin Section -->
<section id="portfolio" class="portfolio section">
	<!-- Section Title -->
	<div class="container section-title" data-aos="fade-up">
		<h2>@Model.Localizer["adminadmindashboard"]</h2>
		<p>@Model.Localizer["dashboardp1"]</p>
	</div><!-- End Section Title -->
	<div class="container">
		<div class="row justify-content-center">
			<div style="max-width: 216px;">
				<a style="color: white;" asp-page="/Products/Create"
					class="text-center see-more d-block mt-5">@Model.Localizer["addproduct"]</a>
			</div>
			<div style="max-width: 216px;">
				<a style="color: white;" asp-page="/Partners/Create"
					class="text-center see-more d-block mt-5">@Model.Localizer["addpartner"]</a>
			</div>
			<div style="max-width: 216px;">
				<a style="color: white;" asp-page="/Clients/Create"
					class="text-center see-more d-block mt-5">@Model.Localizer["addclient"]</a>
			</div>
			<div style="max-width: 216px;">
				<a style="color: white;" asp-page="/Team/Create"
					class="text-center see-more d-block mt-5">@Model.Localizer["addmember"]</a>
			</div>
			<div style="max-width: 216px;">
				<a style="color: white;" asp-page="/News/Create"
					class="text-center see-more d-block mt-5">@Model.Localizer["addpost"]</a>
			</div>
			<div style="max-width: 216px;">
				<a style="color: white;" asp-page="/Contacts/Create"
					class="text-center see-more d-block mt-5">@Model.Localizer["addcontact"]</a>
			</div>
			<div style="max-width: 216px;">
				<a style="color: white;" asp-page="/Admin/Password"
					class="text-center see-more d-block mt-5">@Model.Localizer["password"]</a>
			</div>
			<div style="max-width: 220px;">
				<a style="color: white;" asp-page="/Admin/EditContacts"
					class="text-center see-more d-block mt-5">@Model.Localizer["editcontact"]</a>
			</div>
			<div style="max-width: 220px;">
				<a style="color: white;" asp-page="/About/Edit"
					class="text-center see-more d-block mt-5">@Model.Localizer["editabout"]</a>
			</div>
			<div style="max-width: 220px;">
				<a style="color: white;" asp-page="/Admin/EditBackgrounds"
					class="text-center see-more d-block mt-5">@Model.Localizer["back"]</a>
			</div>
			<div style="max-width: 220px;">
				<a style="color: white;" asp-page="/Admin/EditChoose"
					class="text-center see-more d-block mt-5">@Model.Localizer["choose"]</a>
			</div>
			<div style="max-width: 220px;">
				<a style="color: white;" asp-page="/Admin/OrderProducts"
					class="text-center see-more d-block mt-5">@Model.Localizer["order"]</a>
			</div>
		</div>
</section>
<!-- /Admin Section -->