@page
@model SmartLife.Pages.Admin.LoginModel

@{
    ViewData["Title"] = "Login";
}

<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container">
        <h1>@Model.Localizer["login"]</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-page="/Index">@Model.Localizer["adminhome"]</a></li>
                <li class="current">@Model.Localizer["login"]</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<!-- partners Section -->
<section id="portfolio" class="portfolio section">
    <!-- Section Title -->
    <div class="container contact section-title" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <form method="post" class="form" data-aos="fade-up" data-aos-delay="200" asp-antiforgery="false">
                    <div class="row gy-4">
                        <div class="col-md-12">
                            <input asp-for="Email" style="border-radius: 5px;" type="email" class="form-control" placeholder="@Model.Localizer["Email"]" required="">
                        </div>
                        <div class="col-md-12">
                            <input asp-for="Password" style="border-radius: 5px;" type="password" class="form-control" placeholder="@Model.Localizer["Password"]" required="">
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <button type="submit">@Model.Localizer["login"]</button>

                            <div class="mt-3">
                                <a asp-page="/Admin/Forgot">@Model.Localizer["forgot"]</a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div><!-- End Section Title -->

</section>
<!-- /partners Section -->