@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResources> Localizer

@{
    bool isAr = StringComparer.OrdinalIgnoreCase.Equals(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName, "ar");
}

<!DOCTYPE html>
<html dir="@(isAr ? "rtl" : "ltr")" lang="@(isAr ? "ar" : "en")"> 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>@ViewData["Title"] - @Localizer["name"]</title>

    <link href="~/img/smartLife.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/aos/aos.css" rel="stylesheet">
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/lib/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/css/main.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
    @if (isAr)
    {
        <link href="~/css/mainar.css" rel="stylesheet">
    }
</head>
<body class="portfolio-details-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

            <a asp-page="/Index" class="logo d-flex align-items-center me-auto me-xl-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="~/img/logo.png" alt=""> -->
                <h1 class="sitename">
                   <img src="~/img/smartLife.png" alt="">
                </h1>
            </a>

            @{
                string? page = ViewContext.RouteData.Values["page"]?.ToString();
            }

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a asp-page="/Index" class="@(page == "/Index" ? "active" : "")">@Localizer["nav_home"]</a></li>
                    <li><a asp-page="/About/Index" class="@(page == "/About/Index" ? "active" : "")">@Localizer["nav_about"]</a></li>
                    <li class="dropdown">
                        <a asp-page="/Products/Index" class="@(page == "/Products/Index" ? "active" : "")"><span>@Localizer["nav_products"]</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            @await Component.InvokeAsync("ProductsMenu")
                        </ul>
                    </li>
                    <li><a asp-page="/Partners/Index" class="@(page == "/Partners/Index" ? "active" : "")">@Localizer["nav_partners"]</a></li>
                    <li><a asp-page="/Clients/Index" class="@(page == "/Clients/Index" ? "active" : "")">@Localizer["nav_clients"]</a></li>
                    <li><a asp-page="/Team/Index" class="@(page == "/Team/Index" ? "active" : "")">@Localizer["nav_team"]</a></li>
                    <li><a asp-page="/News/Index" class="@(page == "/News/Index" ? "active" : "")">@Localizer["nav_news"]</a></li>
                    <li><a asp-page="/Contacts/Index" class="@(page == "/Contacts/Index" ? "active" : "")">@Localizer["nav_contacts"]</a></li>
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <li><a asp-page="/Admin/Index" class="@(page == "/Admin/Index" ? "active" : "")">@Localizer["nav_admin"]</a></li>
                        <li><a href="/Admin/Logout">@Localizer["nav_logout"]</a></li>
                    }
                    <li class="language-switcher">
                        <a href="/SetLanguage?returnUrl=@Context.Request.Path@Context.Request.QueryString">
                            <i class="bi bi-globe me-1 text-success fs-6"></i>
                            <span class="language-text">@(isAr ? "EN" : "AR")</span>
                        </a>
                    </li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <div class="header-social-links">
                <a href="https://youtube.com/@@smartlifecom?si=hdY7vixkDvCO5jZQ" class="youtube"><i class="bi bi-youtube"></i></a>
                <a href="https://www.facebook.com/share/1CaQ4VvXsQ/" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/smartlifeeg?igsh=OGsyNzZyZzR0ZGx1" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/company/smartlifeco/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

        </div>
    </header>

    <main class="main">
        @RenderBody()
    </main>

    <footer id="footer" class="footer dark-background">
        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a asp-page="/Index" class="d-flex align-items-center">
                        <span class="sitename">@Localizer["name"]</span>
                    </a>
                    @await Component.InvokeAsync("Contact")
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>@Localizer["foot_links_useful"]</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a asp-page="/Index">@Localizer["nav_home"]</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a asp-page="/About/Index">@Localizer["nav_about"]</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a asp-page="/Partners/Index">@Localizer["nav_partners"]</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a asp-page="/Clients/Index">@Localizer["nav_clients"]</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>@Localizer["foot_links"]</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a asp-page="/Products/Index">@Localizer["nav_products"]</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a asp-page="/News/Index">@Localizer["nav_news"]</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a asp-page="/Team/Index">@Localizer["nav_team"]</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-12">
                    <h4>@Localizer["foot_follow"]</h4>
                    <p>@Localizer["foot_follow_desc"]</p>
                    <div class="social-links d-flex">
                        <a href="https://youtube.com/@@smartlifecom?si=hdY7vixkDvCO5jZQ"><i class="bi bi-youtube"></i></a>
                        <a href="https://www.facebook.com/share/1CaQ4VvXsQ/"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/smartlifeeg?igsh=OGsyNzZyZzR0ZGx1"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/smartlifeco/"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <p>©<strong class="px-1 sitename">@Localizer["name"]</strong> <span>@Localizer["foot_rights"]</span></p>
            <div class="credits">
                @Localizer["foot_designby"] <a href="https://www.facebook.com/share/1AGyWmomEp/">NOVA Integrated Solutions</a>
            </div>
        </div>

    </footer>

    <div style="position: fixed; bottom: 80px; right: 10px; z-index: 1000;">
        <a href="#"><img style="width: 55px;" src="~/img/WhatsApp.svg.png" alt=""></a>
    </div>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/php-email-form/validate.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/lib/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>